<main class="container-xxl">
    <!-- titulo secciones -->
          <div class="tituloSecciones">
            <div class="row">
              <div class="col-12">
                <h2>Estado de Resultados</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Ventas</a></li>
                    <li class="breadcrumb-item"><a href="index.html">Cotizador</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Estado de Resultados</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
          
    <!-- Filtros -->
          <div class="my-3 p-4 bg-body rounded shadow-sm">
            <div>
              <!-- 1ra linea -->
              <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 mb-3">
                  <label for="" class="form-label">FECHA</label>
                  <input type="text" [(ngModel)]="fecha" class="form-control" disabled>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                  <label for="" class="form-label">CLIENTE / PROSPECTO</label>
                  <input type="text" [(ngModel)]="cliente_prospecto" class="form-control" disabled>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3">
                  <label for="" class="form-label">VENDEDOR</label>
                  <input type="text" [(ngModel)]="vendedor"  class="form-control" disabled>
                </div>
              </div>
            </div>
          </div>
    <!-- Tabla class="text-center"-->
          <div class="my-3 p-4 bg-body rounded shadow-sm">
            <div class="table-responsive">
              <table class="table table-hover-all">
                <thead>
                  <tr>
                    <th class="th5"><span>CÓDIGO PARTE</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th4"><span>DESCRIPCIÓN PARTE</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>INGRESOS</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>COSTO VENTAS</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>MATERIA PRIMA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>MANO DE OBRA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th0"><span>GASTOS FABRICACIÓN</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th0"><span>UTILIDAD BRUTA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>EGRESOS</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th7"><span>GASTOS FIJOS (OVERHEAD)</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th7"><span>UTILIDAD ANTES EBITDA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th7"><span>MARGEN ANTES EBITDA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>ISR (30%)</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>PUT (10%)</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>UTILIDAD NETA</span> <a href="#" class="thFlechas"></a></th>
                    <th class="th5"><span>MARGEN NETO</span> <a href="#" class="thFlechas"></a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of array_partes ">
                    <td>{{item.codigo_parte}}</td>
                    <td>{{item.parteEncontrada.nombre_parte}}</td>
                    <td class="tdIzq">{{item.ingresos | currency}}</td>
                    <td class="tdIzq">{{item.costo_ventas | currency}}</td>
                    <td class="tdIzq">{{item.costo_materia_prima | currency}}</td>
                    <td class="tdIzq">{{item.costo_mano_obra | currency}}</td>
                    <td class="tdIzq">{{item.gastos_fabricacion | currency}}</td>
                    <td class="tdIzq">{{item.utilidad_bruta | currency}}</td>
                    <td class="tdIzq">{{item.egresos | currency}}</td>
                    <td class="tdIzq">{{item.gastos_fijos | currency}}</td>
                    <td class="tdIzq">{{item.utilidad_antes_ebitda | currency}}</td>
                    <td class="tdIzq">0</td> <!-- TODO --> 
                    <td class="tdIzq">{{item.isr | currency}}</td>
                    <td class="tdIzq">{{item.ptu | currency}}</td>
                    <td class="tdIzq">{{item.utilidad_neta | currency}}</td>
                    <td class="tdIzq">{{item.margen_neto | currency}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><span class="float-end fw-bolder">TOTAL</span></td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().ingresos  | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().costo_ventas | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().costo_materia_prima | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().costo_mano_obra | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().gastos_fabricacion | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().utilidad_bruta | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().egresos | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().gastos_fijos | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().utilidad_antes_ebitda | currency}}</td>
                    <td class="tdIzq fw-bolder">0</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().isr | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().ptu | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().utilidad_neta | currency}}</td>
                    <td class="tdIzq fw-bolder">{{calculateTotals().margen_neto | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- termina tabla -->
            <div class="row justify-content-center mt-5 mb-4">
              <div class="col-6">
                <button type="button" class="btn btn-gris btnCentrar" onclick="history.back()">Salir</button> 
              </div>
            </div>
          </div>
        </main>