<div class="bg-white shadow-sm plecaMenu"> 
    <div class="container-xxl">
        <div class="dropdown dropdownMenu">
        <button class="btn dropdown-toggle btnVentas dropdown-toggle-active" type="button" id="dropdownMenuVentas" data-bs-toggle="dropdown" aria-expanded="false">Ventas</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuVentas">
            <li><a class="dropdown-item" (click)="redireccionarALaRuta('/cotizador')">Cotizador</a></li>
        </ul>
        </div>
    </div>
</div>